@media (min-width: 768px) {

  /* HEADER */

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
  }

  #menuBtn {
    display: none;
  }

  #navMenu {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    margin-top: 0;
  }

  #navMenu a {
    border: none;
  }

  /* DIRECTORY GRID */

  #members-container.grid {
    grid-template-columns: repeat(3, 1fr);
  }

  /* DIRECTORY LIST */

  #members-container.list .card {
    display: flex;
    align-items: center;
  }

  #members-container.list .card-header {
    width: 30%;
    border-right: 1px solid var(--border);
    border-bottom: none;
  }

  #members-container.list .card-content {
    width: 70%;
  }

  /* HOME PAGE */

  .info-grid {
    grid-template-columns: 2fr 1fr 1fr;
  }

  #spotlight-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .hero-content h2 {
    font-size: 3rem;
  }

  .join-main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
    align-items: start;
  }

  /* FOOTER */

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    padding: 2rem 4rem;
  }
}

/* MEDIUM */

@media (min-width: 641px) {

  .discover-grid {

    grid-template-areas:
      "card1 card1"
      "card2 card3"
      "card4 card5"
      "card6 card7"
      "card8 card8";
  }

  .discover-card img:hover {
    transform: scale(1.05);
    filter: brightness(110%);
    transition: .3s;
  }
}

/* LARGE */

@media (min-width: 1025px) {

  .discover-grid {

    grid-template-areas:
      "card1 card2 card3"
      "card4 card5 card6"
      "card7 card8 card8";
  }
}